.website__url-heading{
  margin: 0;
  width: 456px;
  height: 12px;
  color: #AAAAAA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

@media (min-width:1024px)and (max-width:1279px){
  .website__url-heading{
    margin: 0;
    width: 456px;
    height: 12px;
    color: #AAAAAA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .website__url-heading{
    margin: 0;
    width: 352px;
    height: 12px;
    color: #AAAAAA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .website__url-heading{
    margin: 0;
    width: 288px;
    height: 12px;
    color: #AAAAAA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}