.page{
  position: relative;
  width: 1280px;
  height: 6875px;
  background: #2A2C2F;
  margin:0 auto;
}

@media (min-width:1024px)and (max-width:1279px){
  .page{
    margin:0 auto;
    position: relative;
    width: 1024px;
    background: #2A2C2F;
    height: 6895px;
  }
  }
  
  @media (min-width:768px)and (max-width:1023px){
    .page{
      margin:0 auto;
      position: relative;
      width: 768px;
      height: 6855px;
      background: #2A2C2F;
    }
  }

  @media (min-width:320px)and (max-width:767px){
    .page{
    margin:0 auto;
    position: relative;
    background: #2A2C2F;
    width: 320px;
    height: 10023px;
    }
  }