.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  position: relative;
  margin-top: 28px;
  margin-left: 48px;
}

@media (min-width:768px)and (max-width:1023px){
  .header{
    margin-left: 24px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .header{
    max-width: 288px;
    min-height: 42px;
    margin-top: 16px;
    margin-left: 16px;
  }
}