.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  position: relative;
  margin-top: 28px;
}

@media (max-width:767px){
  .header{
    max-width: 288px;
    margin-top: 16px;
  }
}