.intro__title{
  margin: 0;
  width: 690px;
  height: 58px;
  font-family: 'Inter','Arial','sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

@media (min-width:1024px)and (max-width:1279px){
  .intro__title{
    margin: 0;
    width: 690px;
    height: 58px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .intro__title{
    margin: 0;
    width: 720px;
    height: 58px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
  }
}

@media (min-width:320px)and (max-width:767px){
  .intro__title{
    margin: 0;
    width: 288px;
    height: 70px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
  }
}