.photo-grid{
  margin: 0;
  max-width: 1184px;
  min-height: 671px;
  display: grid;
  margin-top: 92px;
  margin-left: 48px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3,213px);
  column-gap: 16px;
  row-gap: 12px;
}

@media (min-width:1024px)and (max-width:1279px){
  .photo-grid{
    margin: 0;
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    margin-top: 92px;
    margin-left: 48px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4,225px);
    column-gap: 14px;
    row-gap: 10px;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .photo-grid{
    margin: 0;
    max-width: 720px;
    min-height: 1664px;
    display: grid;
    margin-top: 92px;
    margin-left: 48px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6,264px);
    column-gap: 16px;
    row-gap: 13px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .photo-grid{
    margin: 0;
    max-width: 288px;
    min-height: 2724px;
    display: grid;
    margin-top: 64px;
    margin-left: 16px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    row-gap: 8px;
  }
}