.place__pharagraph1{
  margin: 0;
  max-width: 484px;
  font-family: 'Inter','Arial','sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  min-height: 145px;
}

@media (min-width:1024px)and (max-width:1279px){
  .place__pharagraph1{
    margin: 0;
    max-width: 456px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    min-height: 174px;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .place__pharagraph1{
    margin: 0;
    max-width: 352px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    min-height: 182px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .place__pharagraph1{
    margin: 0;
    max-width: 288px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    min-height: 208px;
  }
}