.footer__copyright{
  margin: 0;
  font-family: 'Inter','Arial','sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  width: 186px;
  height: 16px;
  margin-left: 575px;
}

@media (min-width:320px)and (max-width:767px){
  .footer__copyright{
    margin: 0;
    margin-top: 48px;
    width: 186px;
    height: 14px;
    font-family: 'Inter','Arial','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
  }
}