.cover__overlay{
  position: absolute;
  width: 1184px;
  opacity: 0.3;
  background: #2A2C2F;
  height: 740px;
  z-index:-1;
  transition:opacity 1s linear;
}

.cover__overlay:hover{
  opacity: 0.8;
}

@media (min-width:1024px)and (max-width:1279px){
  .cover__overlay{
    position: absolute;
    width: 1024px;
    opacity: 0.3;
    background: #2A2C2F;
    height: 640px;
    z-index:-1;
    transition:opacity 1s linear;
  }

  .cover__overlay:hover{
    opacity: 0.8;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .cover__overlay{
    position: absolute;
    width: 768px;
    opacity: 0.3;
    background: #2A2C2F;
    height: 480px;
    z-index:-1;
    transition:opacity 1s linear;
  }

  .cover__overlay:hover{
    opacity: 0.8;
  }
}

@media (min-width:320px)and (max-width:767px){
  .cover__overlay{
    position: absolute;
    width: 320px;
    opacity: 0.3;
    background: #2A2C2F;
    height: 200px;
    z-index:-1;
    transition:opacity 1s linear;
  }

  .cover__overlay:hover{
    opacity: 0.8;
  }
}