.cover__background{
  background: url(../../../images/__background.jpg);
  margin: 0;
  width: 100%;
  min-height: 740px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.cover__background::before {
  background-color: #2a2c2f;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media (max-width:1023px){
  .cover__background{
    max-width: 768px;
    min-height: 480px;
    margin-top: 90px;
  }
}

@media (max-width:767px){
  .cover__background{
    margin: 0;
    max-width: 320px;
    min-height: 200px;
  }
}