.place{
  margin: 0;
  max-width: 984px;
  display: grid;
  grid-template-areas: 
  "title website"
  "image pharagraphs";
}

@media (min-width:768px)and (max-width:1023px){
  .place{
    max-width: 720px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .place{
    max-width: 320px;
    grid-template-areas: 
    "title"
    "website"
    "image"
    "pharagraphs";
  }
}