.footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 92px;
  max-width: 1184px;
  flex-direction: row;

}

@media (min-width:320px)and (max-width:767px){
  .footer{
    margin-top: 64px;
    max-width: 186px;
}
}