.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: calc(12 / 12 * 100%);
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
  align-self: end;
  font-family: 'Inter','Arial',sans-serif;
  padding-bottom: 12px;
}

@media (max-width: 767px) {
  .place__url-heading {
    padding-left: 16px;
    align-self: baseline;
  }
}