.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  padding-bottom: 30px;
  align-self: end;
  font-family: 'Inter','Arial',sans-serif;
}

@media (max-width: 767px) {
  .place__url-heading {
    padding-bottom: 12px;
    padding-left: 16px;
    align-self: baseline;
  }
}