.place__pharagraphs{
  margin: 0;
  margin-left: 40px;
  margin-top: 48px;
  grid-area: pharagraphs;
}

@media (min-width:320px)and (max-width:767px){
  .place__pharagraphs{
    margin-left: 32px;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .place__pharagraphs{
    margin-left: 28px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .place__pharagraphs{
    margin-top: 32px;
    margin-left: 16px;
  }
}