.logo_place_header{
  position: absolute;
  width: 176px;
  height: 52px;
}

@media (min-width:1024px)and (max-width:1279px){
  .logo_place_header{
  position: absolute;
  width: 176px;
  height: 52px;
}
}

@media (min-width:768px)and (max-width:1023px){
  .logo_place_header{
    position: absolute;
    width: 176px;
    height: 52px;
}
}

@media (min-width:320px)and (max-width:767px){
  .logo_place_header{
    position: absolute;
    width: 142px;
    height: 42px;
  }
}