.intro{
  margin: 0;
  margin-top: 114px;
  width: 690px;
  height: 429px;
  margin-left: 148px;
}

@media (min-width:1024px)and (max-width:1279px){
  .intro{
    margin: 0;
    margin-top: 92px;
    width: 690px;
    height: 429px;
    margin-left: 48px;
  }
}

@media (min-width:768px)and (max-width:1023px){
  .intro{
    margin: 0;
    margin-top: 88px;
    width: 720px;
    height: 429px;
    margin-left: 24px;
  }
}

@media (min-width:320px)and (max-width:767px){
  .intro{
    margin: 0;
    margin-top: 64px;
    margin-left: 16px;
    width: 288px;
    height: 754px;
  }
}